<div class="container-reset">
  <app-header />
  <body *ngIf="!success" class="container-reset-body">
    <form [formGroup]="formGroup">
      <div class="container-reset-body-title">
        <h3 class="reset-body-title">Recuperar senha</h3>
      </div>
      <div class="container-reset-body-form-fields">
        <div class="container-reset-body-field">
          <label for="password">Insira uma nova senha</label>
          <p-password
            [feedback]="false"
            inputId="password"
            formControlName="password"
          />
        </div>
        <div class="container-reset-body-field">
          <label for="passwordConfirm">Confirme a senha</label>
          <p-password
            [feedback]="false"
            inputId="passwordConfirm"
            formControlName="passwordConfirm"
          />
        </div>
        <div class="container-reset-body-form-button">
          <p-button
            class="reset-body-form-button"
            severity="danger"
            (onClick)="onSave()"
            [loading]="isLoading"
            loadingIcon="pi pi-spin pi-spinner"
            label="Salvar"
          ></p-button>
        </div>
      </div>
    </form>
  </body>

  <div *ngIf="success" class="container-reset-success">
    <p-button
      (onClick)="goToLogin()"
      class="container-reset-success-button"
      label="Entrar"
      severity="success"
    />
  </div>
  <p-messages
    *ngIf="success"
    class="reset-success-message"
    [value]="successMessage"
    [closable]="false"
  />
  <app-footer />
</div>
<p-toast [life]="10000" position="top-center" key="message" />
