:host ::ng-deep div.p-sidebar {
  background-color: #413c3c;
  border-right: 5px solid #9e9191;
}

:host ::ng-deep div.p-sidebar-header {
  padding: 0;
  border-bottom: 3px solid #9e9191;
}

.container-header-close {
  margin-left: 35px;
  float: right;
}

:host ::ng-deep .close-button button.p-button {
  width: 17px;
  height: 21px;
  background: rgba(148, 135, 135, 1);
}

.header-container {
  gap: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

:host ::ng-deep i.header-icon {
  color: #ffffff;
  font-size: 40px;
}

.container-header-icon {
  margin-left: 2rem;
  border-radius: 60px;
}

.container-header-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-title {
  margin: 0;
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
  color: rgba(148, 135, 135, 0.66);
  width: 7rem;
}

.header-description {
  margin: 0.2rem;
  font-size: 15px;
  line-height: 15px;
  font-weight: 400;
  color: rgba(148, 135, 135, 0.66);
}

/** Content **/
:host ::ng-deep div.p-sidebar-content {
  padding: 0;
}
.container-content-menu {
  height: 70px;
  border-bottom: 3px solid #9e9191;
  width: 100%;
}
.container-content-list-menu {
  border-bottom: 3px solid #9e9191;
  width: 100%;
}
:host ::ng-deep .content-menu-button .p-button {
  height: 67px;
  width: 100%;
  background: #413c3c;
  display: flex;
  justify-content: left;
  gap: 1rem;
  padding-left: 1.5rem;
}

p.button-text {
  color: rgba(255, 239, 239, 0.66);
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
}

.submenu {
  height: 67px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  padding-left: 1.5rem;
  gap: 1rem;
}
