/** Header **/
.container-header {
  height: 318px;
  width: 100%;
  background-color: #ffdcdc08;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.logo {
  border-radius: 180px;
}
.logo-title {
  color: #ffefef4d;
  font-weight: 400;
  font-size: 16px;
}
