<div class="container-home">
  <header class="container-home-header">
    <div class="container-home-icon">
        <i class="home-menu-icon pi pi-bars" (click)="openSidebar()">
        </i>
    </div>
    <div class="container-home-title">
      <h3 class="home-title">UNI MOVIMENTO</h3>
      <p class="home-title-description">Uni Velha Central</p>
    </div>
  </header>
  <body class="container-home-body">
    <h4 class="home-body-title">
      Um universo de possibilidades a serviço do Reino.
    </h4>
    <div class="container-home-body-divider">
      <span class="home-body-divider"></span>
    </div>
    <div class="container-home-body-photo">
        <img class="home-body-photo" src="assets/group.png" alt="group-image" />
    </div>
  </body>
</div>

<app-menu />