<div class="container-recovery">
  <app-header />
  <body class="container-recovery-body">
    <form [formGroup]="formGroup">
      <div class="container-recovery-body-title">
        <p-button
          class="recovery-body-title-button"
          icon="pi pi-angle-left"
          [rounded]="true"
          [text]="true"
          (onClick)="goToLogin()"
          [disabled]="isLoading"
        />
        <h3 class="recovery-body-title">Recuperar senha</h3>
        <span class="recovery-body-title-space"></span>
      </div>
      <div class="container-recovery-body-form-fields">
        <div class="container-recovery-body-field">
          <label for="email">E-mail</label>
          <input pInputText id="email" type="text" formControlName="email" />
        </div>
        <div class="container-recovery-body-form-button">
          <p-button
            class="recovery-body-form-button"
            severity="danger"
            (onClick)="onSend()"
            [loading]="isLoading"
            loadingIcon="pi pi-spin pi-spinner"
            label="Enviar link"
          ></p-button>
        </div>
      </div>
    </form>
  </body>
  <p-messages
    class="recovery-info-message"
    [value]="message"
    [closable]="false"
  />
  <app-footer />
</div>
<p-toast [life]="10000" position="top-center" key="message" />
