.container-register {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-y: scroll;
}


/** Body geral **/
.container-register-body {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1rem;
}
/* Título do body */
.container-register-body-title {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.register-body-title {
    color: #948787;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
}
.register-body-title-space {
    width: 44px;
}
/* Botão de voltar */
:host ::ng-deep .register-body-title-button button.p-button {
    color: white;
    background: none;
}

/** Formulário **/
.container-register-body-form-fields {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    align-items: center;
}
.container-register-body-field {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

:host ::ng-deep input.p-inputtext {
    width: 288px;
    height: 35px;
    border: none;
    border-radius: 15px;
    background-color: #94878742;
}

:host ::ng-deep input.p-inputtext:focus {
    box-shadow: none;
}


/** Botão de registrar-se **/
:host ::ng-deep .register-body-form-button button.p-button {
    border-radius: 20px;
    width: 143px;
    height: 30px;
}
:host ::ng-deep .register-body-form-button span.p-button-label {
    color: #171414;
    font-size: 18px;
    line-height: 18px;
}
.container-register-body-form-button {
    margin-top: 1.2rem;
}


/** Sucesso **/
.container-register-success {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 5rem;
    margin-bottom: 5rem;
}
:host ::ng-deep p-messages {
    width: 100%;
}
:host ::ng-deep .reguster-success-message div.p-message-success {
    background: rgba(96, 237, 138, 0.07);
    color: white;
}
:host ::ng-deep .reguster-success-message div.p-message-success .p-message-icon {
    color: white;
}
:host ::ng-deep .reguster-success-message div.p-message-wrapper {
    justify-content: center;
    height: 5rem;
}
:host ::ng-deep .reguster-success-message span.p-message-detail {
    color: rgba(160, 228, 180, 1);
}


/** Botão de entrar **/
:host ::ng-deep .container-register-success-button button.p-button {
    width: 145px;
    height: 30px;
    border-radius: 20px;
    background: rgba(161, 224, 158, 0.79);
}
:host ::ng-deep .container-register-success-button span.p-button-label {
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
}

/** Geral **/
label {
    color: #948787BF;
}