<div class="container-register">
    <app-header />
    <body *ngIf="!success" class="container-register-body">
        <form [formGroup]="formGroup">
            <div class="container-register-body-title">
                <p-button
                        class="register-body-title-button"
                        icon="pi pi-angle-left"
                        [rounded]="true"
                        [text]="true"
                        (onClick)="goBack()"
                        [disabled]="isLoading"
                />
                <h3 class="register-body-title">Criar conta</h3>
                <span class="register-body-title-space"></span>
            </div>
            <div class="container-register-body-form-fields">
                <div class="container-register-body-field">
                    <label for="username">Usuário</label>
                    <input
                            pInputText
                            id="username"
                            type="text"
                            formControlName="username"
                    />
                </div>
                <div class="container-register-body-field">
                    <label for="email">E-mail</label>
                    <input
                            pInputText
                            id="email"
                            type="text"
                            formControlName="email"
                    />
                </div>
                <div class="container-register-body-field">
                    <label for="password">Senha</label>
                    <p-password
                            [feedback]="false"
                            inputId="password"
                            formControlName="password"
                    />
                </div>
                <div class="container-register-body-field">
                    <label for="birthdate">Data de nascimento</label>
                    <p-calendar
                            class="register-body-field-birthdate"
                            [(ngModel)]="date"
                            inputId="birthdate"
                            showIcon="true"
                            [iconDisplay]="'input'"
                            dateFormat="dd/mm/yy"
                            placeholder="dd/mm/aaaa"
                            formControlName="birthDate"
                    />
                </div>
                <div class="container-register-body-form-button">
                    <p-button class="register-body-form-button"
                              severity="danger"
                              (onClick)="onRegister()"
                              [loading]="isLoading"
                              loadingIcon="pi pi-spin pi-spinner"
                              label="Registrar-se"></p-button>
                </div>
            </div>
        </form>
    </body>

    <div *ngIf="success" class="container-register-success">
        <p-button
            (onClick)="goToLogin()"
            class="container-register-success-button"
            label="Entrar"
            severity="success" />
    </div>
    <p-messages *ngIf="success" class="register-success-message" [value]="successMessage" [closable]="false" />
    <app-footer/>
</div>
<p-toast [life]="10000" position="top-center" key="message" />
